*~
.Rproj.user
.Rhistory
.RData
.Ruserdata
_publish.R
_book
_bookdown_files
build
rsconnect
public
bookdown-demo.log
Introduction_to_R.log
/libs
The_MetaRbolomics_book.log
Rplots.pdf
The_MetaRbolomics_book_cache
/The_MetaRbolomics_book_files
/vnZoom.html
/vn.html
/revDepNet-60.png
/revDepNet-zoom.png
/The_MetaRbolomics_book.Rmd
/The_MetaRbolomics_book.pdf
/The_MetaRbolomics_book.tex
/The_MetaRbolomics_book.knit.md
/The_MetaRbolomics_book.utf8.md
