# https://docs.travis-ci.com/user/languages/minimal-and-generic/
language: minimal

cache:
  packages: true

## https://docs.travis-ci.com/user/docker/
services:
  - docker
  
branches:
  only:
    - master

before_install:
    - docker pull sneumann/metarbolomics-book-base

env:
    - RENDER_BOOK_TARGET='"bookdown::gitbook"'
    - RENDER_BOOK_TARGET='"bookdown::pdf_book"'
    - RENDER_BOOK_TARGET='"bookdown::epub_book"'
    
script:
    - ./travisScript.sh
        
deploy:
    provider: pages
    skip-cleanup: true
    github-token: $GITHUB_PAT
    keep-history: true
    local-dir: public
    on:
      branch: master


# In general the r-travis script automatically dump the logs after failure but
# because of a bug in travis the output is often truncated. See
# https://github.com/travis-ci/travis-ci/issues/6018
after_failure: sleep 10

notifications:
  email:
    on_failure: change
    on_success: change
